<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet/less" href="css/create.less">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">

    <script type="text/javascript" src="lib/less/dist/less.js"></script>
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="lib/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="lib/backbone/backbone.js"></script>
    <script type="text/javascript" src="lib/bluebird/js/browser/bluebird.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>"

    <script type="text/javascript" src="js/dtou.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/storage2.js"></script>
    <script type="text/javascript" src="js/storage2-sync.js"></script>
    <script type="text/javascript" src="js/remote.js"></script>
    <script type="text/javascript" src="js/explore.js"></script>
    <script type="text/javascript" src="js/other.js"></script>
    <title></title>
</head>
<body ng-app="dtouprism" ng-controller="other">

<div class="jumbotron center-block text-center">
    <img src="img/prism.png" id="logo">
    <h1> Data Terms of Use (DToU) </h1>
</div>

<div class="container">
    <div class="dtoucontrols center-block  row" ng-show="selected.attributes.type==='tweet'" ng-class="{tweet:selected.attributes.type==='tweet'}" >
        <!-- <pre ng-bind="selected.id"></pre> -->
        <h2> <div ng-bind="'Selected Tweet (Peer: @'+ui.author+')'"></div></h2>
        <div class="well" ng-bind-html="::selectedHtml" ng-show="selected"></div>
        <div ng-show="!selected">
            No Entity Selected
        </div>
    </div>

    <div class="dtoucontrols center-block row">
        <h2> Peer DToU Declarations </h2>
        <!--<table>-->
        <!--<tr><td>DTOU Router</td><td><input type="text"></td><td>DTOU Container</td><td><input type="text"></td></tr>-->
        <!--</table>-->
        <table class="table">
            <tr ng-show="ui.peer">
                <th class="col-md-2">Terms</th>
                <th class="col-md-2">My Settings</th>
                <th class="col-md-8">Details</th>
            </tr>
            <tr ng-show="!ui.peer">
                <td> Peer Defined no DToUs </td>
            </tr>
            <tr ng-show="ui.peer.substitute">
                <td class="col-md-2">Hidden Content</td>
                <td class="col-md-2"><input type="checkbox" ng-model="ui.substitute"></td>
                <td class='col-md-8 value'>
                    <div type="text" ng-show="ui.substitute" ng-bind="ui.substituteHtml? ui.substituteHtml:'show content hidden by peer'"></div>
                </td>
            </tr>
            <tr ng-show="ui.peer.sign">
                <td class="col-md-2">Decrypt</td>
                <td class="col-md-2"><input type="checkbox" ng-bind="ui.sign"></td>
                <td class="col-md-8" class='value' ng-bind="ui.sign ? 'decrypt cryptographically signed content' : 'not signed'"></td>
            </tr>
            <tr ng-show="ui.peer.pingback">
                <td class="col-md-2">Read-Receipts</td>
                <td class="col-md-2"></td>
                <td class="col-md-8" class='value' ng-bind="'Tweet owner can see your number of Tweet reads'"></td>
            </tr>

            <tr ng-show="ui.peer.delete">
                <td class="col-md-2">Delete-on-Read</td>
                <td class="col-md-2"></td>
                <td class="col-md-8" class='value' ng-bind="'content will be readable for/deleted after '+ui.peer.delete+' reads'"></td>
            </tr>
        </table>
        <button ng-show="ui.peer" class="btn" ng-click="save()">Agree to Peer DToUs</button>
    </div>
</div>
</body>
</html>