<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet/less" href="css/popup.less">
		<link rel="stylesheet" type="text/css" href="css/toggle.css">
		<script type="text/javascript" src="lib/less/dist/less.js"></script>		
		<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="lib/lodash/dist/lodash.js"></script>		
		<script type="text/javascript" src="lib/bluebird/js/browser/bluebird.js"></script>
		<script type="text/javascript" src="lib/angular/angular.js"></script>		
		<script type="text/javascript" src="js/popup.js"></script>		
		<title></title>
	</head>
	<body ng-app="dtouprism" ng-controller="popup">
		<img src="img/prism.png" id="logo"> 
		<h1> data terms of use </h1>

		<h2> enable for sites: </h2>
		<table class="networks">
			<tr><td>twitter</td><td><label class="switch"><input type="checkbox" ng-model="enabled.twitter"><div class="slider round"></div></label></td></tr>
			<tr><td>facebook</td><td><label class="switch"><input type="checkbox" ng-model="enabled.facebook"><div class="slider round"></div></label></td></tr>
		</table>

		<h2> settings: </h2>
		<table>
            <tr><td>Storage</td><td><input type="text" ng-model="dtou_storage"></td></tr>
            <tr><td>DTOU Container</td><td><input type="text" ng-model="dtou_ctr"></td></tr>
			<tr><td>DTOU Router</td><td><input type="text" ng-model="dtou_router"></td></tr>
        </table>
		<button class="button btn" ng-click="save()"> Save </button>

		<h2> explore dtou: </h2>
		<button class="button btn" ng-click="openKnapsack()"> Knapsack </button>
	</body>
</html>