//
//
//* {
//	font-family: sans-serif;
//	box-sizing:border-box;
//}
//
//
//#logo {
//	height:100px;
//	padding:10px;
//	display: block;
//	margin-left: auto;
//	margin-right: auto;
//}
//
//body, html {
//	background-color:#fafafa !important;
//
//	//padding:5px;
//	//font-size:10pt;
//	////h1 { font-size: 18pt; padding: 0px 0px; text-align:center; }
//	////h2 { padding:0px; text-align: center; font-size:12pt; font-weight:normal;}
//	//table.networks td {
//	//	font-size:13pt;
//	//	font-weight:100;
//	//	text-align:center;
//	//	padding:3px 11px;
//	//}
//}
////.tweet {
////	width:80%;
////	// margin-left:auto; margin-right:auto;
////	padding:20px;
////	border:1px solid #eee;
////	.text {
////		font-size:12pt;
////	}
////	margin:50px 0px;
////}
//
//.dtoucontrols {
//
//	background-color:white;
//	//padding:50px;
//	//margin-left:auto; margin-right:auto;
//	width:80%;
//
//	//table {
//	//	td {
//	//		font-size:12pt;
//	//		// min-width:10%;
//	//		&.value input {
//	//			min-width:100px;
//	//		}
//	//	}
//    //
//	//	input[type='text'] {
//	//		min-width:100px;
//	//	}
//	//}
//}
//
//.checkbox {
//  text-align: center;
//}
